{% load i18n %}

<div id="CookielawBanner" class="{% if js_mode %}BannerJsMode{% endif %}" {%if js_mode %} style='display:none;' {% endif %}>
    <div class="container">
        <div class="cookieInfo p-4">
            <div class="mx-auto" style="width: 75vw;">
                <h5>{% trans "COOKIE_INFO_HEADER" %}</h5>
                <p>{% trans "S'utilitzen galetes pròpies i de tercers amb la finalitat d'oferir un millor contingut" %}</p>
                <div class="cookieBtn">
                    <a class="btn btn-cookies" href="javascript:Cookielaw.createCookielawCookie();" style="background: #0A57A4">{% trans "COOKIE_INFO_OK" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>