{% load i18n %}

<div id="CookielawBanner" class="{% if js_mode %}BannerJsMode{% endif %}" {%if js_mode %} style='display:none;' {% endif %}>
    <div class="container">
        <div class="cookieInfo p-4">
            <div class="mx-auto" style="width: 75vw;">
                <h5>{% trans "AVISO DE COOKIES" %}</h5>
                <p>{% trans "Se utilizan cookies propias y de terceros con la finalidad de ofrecer un mejor contenido para la web." %}</p>
                <div class="cookieBtn">
                    <a class="btn btn-cookies" href="javascript:Cookielaw.createCookielawCookie();" style="background: #0A57A4">{% trans "ESTOY DE ACUERDO" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>