# Hugo default output directory
/public

# Hugo default content directory
content/**/*.md

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# MacOS
.DS_Store

# exampleSite
exampleSite/themes
exampleSite/public

# Build lock
.hugo_build.lock