Django==3.1.12
gunicorn==20.0.4
pytz==2019.3
whitenoise==5.0.1
Pillow==8.3.2
pyautogui==0.9.50
django-debug-toolbar==2.2.1
python-dotenv==0.13.0
django-extensions==2.2.9
django-jazzmin==2.2.7
sorl-thumbnail==12.6.3
django-compressor==2.4
django-cookie-law==2.0.3
django-modeltranslation==0.15.2