<!DOCTYPE html>
{% load static %} {% load cookielaw_tags %} {% load i18n %} {% load thumbnail %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Web Curriculum Vitae" />
        <meta name="author" content="Antoni Aloy Torrens" />
        <title>Antoni Aloy Torrens</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'fontawesome-5.14.0/css/all.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        <link href="{% static 'css/equal-height-columns.css' %}" rel="stylesheet" />
        <!-- Selectpicker -->
        <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet" />
        <!-- Cookielaw -->
        <link href="{% static 'css/cookielaw.css' %}" rel="stylesheet" />
        <!-- Flags CSS -->
    <link href="{% static 'flag-icon-css-master/css/flag-icon.min.css' %}" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Antoni Aloy Torrens</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/profile.jpg' %}" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3EImagen+de+Perfil%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EEsta+es+la+imagen+de+perfil+de+Antoni+Aloy+Torrens%3C%2Fbody%3E%3C%2Fhtml%3E" alt="Imagen de perfil del autor" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">{% trans "Sobre mí" %}</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">{% trans "Experiencia" %}</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">{% trans "Educación" %}</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">{% trans "Habilidades" %}</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">{% trans "Proyectos" %}</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">{% trans "Aficiones" %}</a></li>
                    {% comment %}<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">{% trans "Premios y Certificados" %}</a></li>{% endcomment %}
                    <li class="nav-item">
                    <form id="formLang" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <label for="lang" style="display:none;">{% trans "Elige idioma" %}</label>
                        <select id="lang" name="language" class="selectpicker" data-width="fit" style="background: transparent;">
                            {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            {% if language.code == 'ca' %}
                            <option
                                data-content='<span id="ca" class="flag-icon flag-icon-es-ca flag-icon-squared"></span> {{ language.name_local|capfirst }}'
                                value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local|capfirst }}</option>
                            {% endif %}
                            {% if language.code == 'es' %}
                            <option
                                data-content='<span id="es" class="flag-icon flag-icon-es flag-icon-squared"></span> {{ language.name_local|capfirst }}'
                                value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local|capfirst }}</option>
                            {% endif %}
                            {% if language.code == 'en' %}
                            <option
                                data-content='<span id="ca" class="flag-icon flag-icon-us flag-icon-squared"></span> {{ language.name_local|capfirst }}'
                                value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local|capfirst }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Antoni
                        <span class="text-primary">Aloy Torrens</span>
                    </h1>
                    <div class="subheading mb-5">
                        {% trans "Binissalem, Mallorca, España" %} · 
                        <a class="btn-link text-lowercase" href="mailto:antoni.aloytorrens@gmail.com" target="_blank">antoni.aloytorrens@gmail.com</a>
                    </div>
                    <p class="lead text-justify mb-5">{% trans "Me dedico a la programación y al desarrollo de páginas web. " %}</p>
                    <div class="d-flex justify-content-center"><span class="d-lg-none"><img width="100" height="200" class="img-fluid img-profile mx-auto mb-5" src="{% static 'assets/img/profile.jpg' %}" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3EImagen+de+Perfil%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EEsta+es+la+imagen+de+perfil+de+Antoni+Aloy+Torrens%3C%2Fbody%3E%3C%2Fhtml%3E" alt="Imagen de perfil del autor"  /></span></div>
                    <div class="social-icons text-center">
                        <a class="social-icon" href="https://www.linkedin.com/in/antoni-aloy-torrens-7283481b2/" target="_blank"><em class="fab fa-linkedin-in"></em><span class="d-none">LinkedIn</span></a>
                        <a class="social-icon" href="https://github.com/antonialoytorrens" target="_blank"><em class="fab fa-github"></em><span class="d-none">GitHub</span></a>
                        <a class="social-icon" href="https://gitlab.com/antoni.aloytorrens" target="_blank"><em class="fab fa-gitlab"></em><span class="d-none">GitLab</span></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">{% trans "Experiencia" %}</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1 mr-5">
                            <h3 class="mb-0">{% trans "Desarrollador Web Júnior" %}</h3>
                            <div class="subheading mb-3"><a class="btn-link" href="https://apsl.net" target="_blank">APSL S.L.</a>, Advanced Programming Solutions</div>
                            <p>{% trans "Desarrollo de tests de aceptación con la tecnología de "%}<a class="btn-link" href="https://robotframework.org/" target="_blank">Robot Framework</a>.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{% trans "Junio 2019 - Julio 2019" %}</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">{% trans "Educación" %}</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1 mr-5">
                            <h3 class="mb-0"><a class="btn-link" href="https://paucasesnovescifp.cat/" target="_blank">CIFP Pau Casesnoves</a></h3>
                            <div class="subheading mb-3">{% trans "Ciclo Formativo de Grado Superior" %}</div>
                            <div>{% trans "Desarrollo de Aplicaciones Web" %}</div>
                            <p>{% trans "Media" %}: 7.5/10</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{% trans "Septiembre 2018 - Junio 2020" %}</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1 mr-5">
                            <h3 class="mb-0"><a class="btn-link" href="http://emmat.incaciutat.com/" target="_blank">{% trans "Conservatorio Municipal de Música Antoni Torrandell" %}</a></h3>
                            <div class="subheading mb-3">{% trans "Grado Medio" %}</div>
                            <div>{% trans "Especialidad Piano" %}</div>
                            <!--<p>GPA: 3.56</p>-->
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{% trans "Septiembre 2012 - Presente" %}</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1 mr-5">
                            <h3 class="mb-0"><a class="btn-link" href="https://lpi.org/v/LPI000456258/gjlxpst22w" target="_blank">{% trans "Certificación de Linux Essentials" %}</a></h3>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{% trans "Septiembre 2019 - Junio 2020" %}</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">{% trans "Habilidades" %}</h2>
                    <div class="subheading mb-3">{% trans "Lenguajes de programación" %}</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><img alt="HTML5" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EHTML5+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>HTML5</b>" src="{% static 'assets/img/html5.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="CSS3" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3ECSS3+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>CSS3</b>" src="{% static 'assets/img/css.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="JavaScript" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EJavaScript+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>JavaScript</b>" src="{% static 'assets/img/javascript.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Git" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EGit+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Git</b>" src="{% static 'assets/img/git.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Java" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EJava+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Java</b>" src="{% static 'assets/img/java.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Python" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EPython+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Python</b>" src="{% static 'assets/img/python.svg' %}"/></li>
                    </ul>
                    <div class="subheading mb-3">{% trans "Bases de Datos" %}</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><img alt="MySQL" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EMySQL+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>MySQL</b>" src="{% static 'assets/img/mysql.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="PostgreSQL" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EPostgreSQL+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>PostgreSQL</b>" src="{% static 'assets/img/postgresql.svg' %}"/></li>
                    </ul>
                    <div class="subheading mb-3">{% trans "Librerías y frameworks" %}</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><img alt="Bootstrap" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EBootstrap+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Bootstrap</b>" src="{% static 'assets/img/bootstrap.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="JQuery" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EJQuery+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>JQuery</b>" src="{% static 'assets/img/jquery.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Django" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EDjango+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Django</b>" src="{% static 'assets/img/django.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Qt" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EQt+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Qt</b>" src="{% static 'assets/img/qt.svg' %}"/></li>
                    </ul>
                    <div class="subheading mb-3">{% trans "Sistemas" %}</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><img alt="Docker" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EDocker+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Docker</b>" src="{% static 'assets/img/docker.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Linux" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3ELinux+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Linux</b>" src="{% static 'assets/img/linux.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Ubuntu" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EUbuntu+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Ubuntu</b>" src="{% static 'assets/img/ubuntu.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Debian" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EDebian+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Debian</b>" src="{% static 'assets/img/debian.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="PostmarketOS" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EPostmarketOS+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>PostmarketOS</b>" src="{% static 'assets/img/postmarketos.svg' %}"/></li>
                    </ul>
                    <div class="subheading mb-3">{% trans "Herramientas" %}</div>
                     <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><img alt="Visual Studio Code" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EVisualStudioCode+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Visual Studio Code</b>" src="{% static 'assets/img/code.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="NetBeans" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3ENetBeans+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>NetBeans</b>" src="{% static 'assets/img/netbeans.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="PyCharm" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EPyCharm+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>PyCharm</b>" src="{% static 'assets/img/pycharm.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Glade" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EGlade+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Glade</b>" src="{% static 'assets/img/glade.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Bash" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EBash+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Bash</b>" src="{% static 'assets/img/bash.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="GIMP" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EGIMP+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>GIMP</b>" src="{% static 'assets/img/gimp.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="OpenShot Video Editor" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EOpenShot+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>OpenShot Video Editor</b>" src="{% static 'assets/img/openshot.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="Audacity" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3EAudacity+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>Audacity</b>" src="{% static 'assets/img/audacity.svg' %}"/></li>
                        <li class="list-inline-item"><img alt="LibreOffice" longdesc="data:text/html;charset=utf-8;%3C%21DOCTYPE+html%3E%3Chtml%3E%3Chead%3E%3Ctitle%3ELogo%3C%2Ftitle%3E%3C%2Fhead%3E%3Cbody%3ELibreOffice+Logo%3C%2Fbody%3E%3C%2Fhtml%3E" data-toggle="tooltip" data-html="true" title="<b>LibreOffice</b>" src="{% static 'assets/img/libreoffice.svg' %}"/></li>
                    </ul>
                    <!--<div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><em class="fas fa-check"></em></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><em class="fas fa-check"></em></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><em class="fas fa-check"></em></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><em class="fas fa-check"></em></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>-->
            </section>
            <hr class="m-0" />
            <!-- Projects-->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">{% trans "Proyectos" %}</h2>
                    <div class="row display-sm-grid row-eq-height justify-content-center">
                        {% for project in projects %}
                        <div class="col-xsl-6 col-xl-4 col-mmd-12">
                            {% thumbnail project.image "440x440" crop="center" as im %}
                            <div class="card mb-4 box-shadow w-100 h-100">
                                <img class="card-img-top" longdesc="{{ project.longdesc }}" alt="{{ project.alt }}" src="{{ im.url }}" style="display: block;">
                            {% endthumbnail %}
                                <div class="card-body">
                                    <p class="lead font-weight-bold">{{ project.title }}</p>
                                    <p class="lead regular text-justify">{{ project.subtitle }}</p>
                                    <p><a class="btn-link" href="{{ project.web_link }}" target="_blank">{{ project.web_name }}</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">{% trans "Aficiones" %}</h2>
                    <p class="lead text-justify">Aparte de desarrollar páginas web, también me gusta mucho el mundo de la música, tocar el piano y hacer de intérprete en algunos conciertos.</p>
                    <p class="lead mb-0 text-justify">También suelo ir de excursión o viajar para disfrutar del aire libre y conocer sitios nuevos.</p>
                </div>
            </section>
            <hr class="m-0" />
            <div class="container">
                <div class="row p-3 pb-0 mb-0">
                    <div class="disclaimer text-center">
                        <a target="_blank" href="http://www.w3.org/WAI/WCAG1A-Conformance"
                            title="Explanation of Level A Conformance">
                        <img height="32" width="88" 
                                src="http://www.w3.org/WAI/wcag1A"
                                alt="Level A conformance icon, 
                                W3C-WAI Web Content Accessibility Guidelines 1.0"></a>
                    </div>
                </div>
                <div class="row p-3 pb-0 mb-0">
                    <p class="text-left">{% trans "Iconos hechos por" %} <a class="btn-link" target="_blank" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> {% trans "y" %} <a class="btn-link" target="_blank" href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> {% trans "desde" %} <a class="btn-link" target="_blank" href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>.</p>
                </div>
            </div>
            <!-- Awards-->
            {% comment %}
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">{% trans "Premios y Certificados" %}</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><em class="fas fa-trophy text-warning"></em></span>
                            {% trans "Título de Grado Superior en Desarrollo de Aplicaciones Web" %}
                        </li>
                        <li>
                            <span class="fa-li"><em class="fas fa-trophy text-warning"></em></span>
                            {% trans "Certificación de Linux Essentials" %}
                        </li>
                    </ul>
                </div>
            </section>
            {% endcomment %}
        </div>
        {% cookielaw_banner %}

        <!-- Bootstrap 4.5.0 core JS-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Third party plugin JS-->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Font Awesome icons (free version)-->
        <script src="{% static 'fontawesome-5.14.0/js/all.min.js' %}"></script>
        <!-- Cookielaw -->
        <script src="{% static 'js/cookielaw.js' %}"></script>
        <!-- Selectpicker -->
        <!-- 1.13.14 compiled and minified JavaScript -->
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
                $("#lang").change(function() {
                    $("#formLang").submit();
                });   
            })
        </script>
    </body>
</html>
