/* Apply styling if dark-mode is preferred */

/*
html[theme='dark-mode'] {
    filter: invert(1) hue-rotate(180deg);
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
    }
}
*/


/*
* Common features shared with both stylings
* Tip: Do not combine tags, e.g.: html, body {} to preserve max compatibility (old IE browsers).
* Tip: Do not use dashes or underscore for classes to preserve max compatibility (old IE browsers).
*/

/* In Firefox, https://stackoverflow.com/q/70556531 */
/*
html {
    width: 100%;
}
*/

/* Fonts by default */

body {
    font-family: "Inter var", "Open Sans", "Noto Sans", "Roboto", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif, serif;
    /*line-height: 1.4;*/

    font-style: normal;
    font-weight: normal;
    /*line-height: 2;*/
}


/* End fonts by default */

html {
    background: #FFFFFF;
    background-color: #FFFFFF;
}

body {
    background: #FFFFFF;
    background-color: #FFFFFF;
    margin: 0px;
    color: #666666;
}

code {
    font-family: "Fira Code VF", monospace;
}

time {
    line-height: 1.4;
}

h1 {
    color: #D93B00;
    font-weight: bold;
}

li {
    list-style-type: circle;
}

code {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 0 2px;
    border-radius: 2px 2px;
    line-height: inherit;
    word-wrap: break-word;
    text-indent: 0;
}

pre {
    background-color:#f8f8f8;
    tab-size: 4;
    overflow-x: auto;
}

.anchor, .anchor:link, .anchor:focus, .anchor:visited {
    color: #666666;
}

.anchortxt {
    display: none;
}

.twhite {
    color: #FFFFFF;
}

.linklogo {
    color: #FFFFFF;
}

.linklogo:link {
    color: #FFFFFF;
}

.linklogo:visited {
    color: #FFFFFF;
}

.linklogo:hover {
    color: #FFFFFF;
}

.linkblog:hover {
    color: #003070;
}

.linkblog:link {
    color: #003070;
}

.linkblog:visited {
    color: #003070;
}

.profile {
    text-align: center;
    padding: 5rem;
}

.navigation {
    background: #D93B00;
}

.textcenter {
    text-align: center;
}

/* menu title container */
.mtitlec {
    /* Background */
    background: #D93B00;
    /* Border */
    border-bottom: 1px solid #595959;
    /* Paddings */
    padding-top: 0.5rem;
    padding-top: 8px;
    padding-left: 25%;
    padding-right: 25%;
}

.mtitle {
    /* Font */
    /*font-size: 4.25rem;*/
    font-size: 3.5rem;
    /*letter-spacing: -0.281rem;*/
    margin: 0;
    letter-spacing: -0.1rem;
    font-weight: 400;
}

.title {
    /*font-size: 2.281rem;*/
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.4;
    color: #003070;
}

.date {
    margin-bottom: 1.25rem;
    color: #595959;
}

section {
    padding-top: 36px;
    padding-bottom: 36px;
}

article.item {
    margin-bottom: 3rem;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nomarginbottom {
    margin-bottom: 0;
}

.dinitial {
    display: initial;
}

.textright {
    text-align: right;
}

.mhwidth {
    width: 50%;
}

.mwidth {
    width: 100%;
}

.mxauto {
    margin: auto;
}

.nwrap {
    white-space: nowrap;
}


/* LINKS */

a {
    text-decoration: none;
    color: #005ED9;
}

a:link {
    color: #005ED9;
}

a:visited {
    color: #005ED9;
}

a:hover {
    color: blue;
}


/* END LINKS */


/* FOOTER */

footer {
    text-align: center;
    /*background: #F5F4F3;*/
    /*border-top: 1px solid #E9ECEF;*/
    /*border-top: 1px solid #595959;*/
    /*border-top: 1px solid #EAE8E8;*/
}

#social {
    text-align: center;
}

.copyright {
    text-align: center;
}

.powerby {
    text-align: center;
}


/* END FOOTER */


/*
* Compatibility style.
* This is the first style it will be applied.
* Useful for old browsers that cannot read newer styles.
* This stylesheets aims to be as close as the overriden style.
*
* Converted with rem-to-px: https://nekocalc.com/es/px-a-rem-conversor
* px base is 16px. Commented values on the right are theoretical values.
*/


/* Fonts by default */

body {
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

.h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    /* 18.72px */
}

h4 {
    font-size: 12px;
    /* 13.28px */
}

h5 {
    font-size: 10px;
    /* 10.72px */
}

/* If above size fonts are changed, this below will need to be adjusted too: */
/* Put zoom at 500% and begin testing */
h1.hblog:hover .anchortxt {
    margin-left: -45.55px;
    display: inline;
}

h2.hblog:hover .anchortxt {
    margin-left: -34.20px;
    display: inline;
}

h3.hblog:hover .anchortxt {
    margin-left: -26.75px;
    display: inline;
}

h4.hblog:hover .anchortxt {
    margin-left: -18.95px;
    display: inline;
}

h5.hblog:hover .anchortxt {
    margin-left: -15.25px;
    display: inline;
}

h6.hblog:hover .anchortxt {
    margin-left: -15.25px;
    display: inline;
}

/* End fonts by default */

.mt2 {
    margin-top: 16px;
}

.pb2 {
    padding-bottom: 16px;
}

.mb2 {
    margin-bottom: 16px;
}

.mt4 {
    margin-top: 32px;
}

.mb4 {
    margin-bottom: 32px;
}

.pr1 {
    padding-right: 16px;
}

.pl1 {
    padding-left: 16px;
}

.pd2 {
    padding: 16px;
}


/* LINKS */

.linklogo {
    font-size: 18px;
}


/* NAVIGATION */

.navigation {
    padding-top: 16px;
}


/* END NAVIGATION */

/* FOOTER */

footer {
    padding-top: 16px;
    padding-bottom: 16px;
}

/* End FOOTER */


/*
* Modern style.
* This is the second style it will be applied.
* Useful for newer browsers that can read most CSS features.
* It is not state-of-the-art though. Old browsers may also be able to read this.
*/

/* Fonts by default */

body {
    font-size: 1rem;
}

/* End fonts by default */

h1,
.h1 {
    font-size: 2rem;
}

h2,
.h2 {
    font-size: 1.5rem;
}

h3,
.h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 0.83rem;
}

h5 {
    font-size: 0.67rem;
}

#list-page {
    padding-left: 25%;
    padding-right: 25%;
}

@media(max-width: 1100px) {
    #list-page {
        padding-left: 10%;
        padding-right: 10%;
    }
    .mtitlec {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.mt2 {
    margin-top: 1rem;
}

.mb2 {
    margin-bottom: 1rem;
}

.mt4 {
    margin-top: 2rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.pr1 {
    padding-right: 1rem;
}

.pl1 {
    padding-left: 1rem;
}

.pd2 {
    padding: 1rem;
}


/* LINKS */

.linklogo {
    font-size: 1.125rem;
}


/* NAVIGATION */

.navigation {
    padding-top: 1rem;
}

@media (max-width: 600px) {
    .navigation td {
        display: block;
        width: 100%;
        text-align: left;
    }
}


/* END NAVIGATION */


/* PROJECTS */


/*
* By default projects will follow a (primitive) 3x3 grid system.
* Devices that do not support this feature will fallback to 1 project below other.
*/

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    /*padding-right: 15px;
    padding-left: 15px;*/
}

.col {
    text-align: center;
}

.responsive-img {
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;

    /* FIXME */
    margin-top: -1rem;
}

.circular {
    border-radius: 50%;
}

.responsive-img {
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;

    margin-top: -1rem;
}

.ccol {
    margin: 0.5rem;
    margin: 8px;
}

@supports (display: flex) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 0 0 100%;
        max-width: 20%;
        padding-bottom: 16px;
    }

    @media (max-width: 3100px) {
        .col {
            flex: 0 0 100%;
            max-width: 25%;
        }
    }

    @media (max-width: 1900px) {
        .col {
            flex: 0 0 100%;
            max-width: 33.33333%;
        }
    }

    @media (max-width: 1600px) {
        .col {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 1100px) {
        .col {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .ccol {
            margin-left: 3.5rem;
            margin-right: 3.5rem;
            margin-left: 56px;
            margin-right: 56px;
        }
    }

    @media (max-width: 880px) {
        .ccol {
            margin-left: initial;
            margin-right: initial;
        }
        .menubar {
            text-align: center;
        }
        .language-selection {
            text-align: center;
        }
    }
}

/* Hamburger menu */
/* Default CSS - Hiding the checkbox */
/*
.hidesm {
    display: initial;
}

.hidebig {
    display: none;
}

.menu-toggle {
    display: none;
}
*/
/* Hide hamburger menu for larger screens */
/*
.hamburger-menu {
    display: none;
}
*/
/* Language selection styling */
/*
.language-selection {
    text-align: center;
}
*/
/* Media Query for smaller screens */
/*
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        margin-left: 16px;
        margin-right: 16px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Show hamburger menu */
    /*.hamburger-menu {
        display: block;
    }*/

    /* Hide nav-links by default */
    /*.hidebig {
        display: initial;
    }

    .hidesm {
        display: none;
    }

    .navlinks {
        display: none;
        width: 100%;
        text-align: center;
    }*/

    /* Show nav-links when menuToggle is checked */
	/*.menu-toggle:checked ~ .navlinks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/
/*
}
*/

/* END PROJECTS */


/* FOOTER */

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* END FOOTER */