<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="author" content="{{ .Site.Params.author }}" />
<title>{{ .Site.Title }}</title>
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
<!-- Google fonts-->
<link href="/css/saira-extra-condensed-500-700.css" rel="stylesheet" type="text/css" />
<link href="/css/muli-400-400i-800-800i.css" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<link href="/fontawesome-5.14.0/css/all.min.css" rel="stylesheet" />
<link href="/fontawesome-5.14.0/css/svg-with-js.css" rel="stylesheet" />
<link href="/css/index.css" rel="stylesheet" />
<link href="/css/equal-height-columns.css" rel="stylesheet" />
<!-- Selectpicker -->
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<!-- Flags CSS -->
<link href="/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet">
<!-- Xda developers CSS -->
<link href="/css/fontawesome-xda.css" rel="stylesheet">
