<header class="profile">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }}

    <h2>{{ .Site.Title }}</h2>
    <h3>{{ i18n "bio" }}</h3>
</header>
<section class="profiledesc">
  <p>{{ i18n "profileDesc" }}</p>
  <p>{{ i18n "profileDescMusic" }}</p>
</section>