{{ define "main" }} {{ partial "profile.html" . }}
<div id="list-page">
    {{/* One page content only: {{ with .Site.GetPage "section" "about" }} {{ .Content }} {{ end }} For more than one page: {{ $aboutPages := where .Site.RegularPages "Type" "about" }} {{ range $aboutPages }} {{ .Content }} {{ end }} */}}
    <h1>About Me</h1>
    <hr class="nmpt" />
    <section id="section">
        {{ with .Site.GetPage "section" (printf "/%s/about" .Site.Language.Lang) }} {{ .Content }} {{ end }} {{ partial "comment.html" . }}
        <hr/>
    </section>
</div>
{{ .Site.Sections }}
{{/* Recursive partial to iterate through sections and subsections */}}
{{ range $section := .Site.Sections }}
    <h2>{{ $section.Title }}</h2>
    {{ range $subsection := $section.Sections }}
        {{ $lastFolder := path.Base (path.Dir $subsection.Path) }}
            <h3>{{ $lastFolder }}</h3>
            {{ $pages := where .Site.RegularPages "Section" $lastFolder }}
    {{ end }}
{{ end }}

{{ .Section }}

<div id="list-page">
    {{ $pages := where .Site.RegularPages "Section" "posts" }} {{ $paginator := .Paginate ($pages) }} {{ range $paginator.Pages }} {{ $title := .Title }} {{ $summary := .Summary }}
    <section class="item">
        <div>
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>
            <div class="date">
                <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>
            </div>
        </div>

        {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
        <div class="summary">{{ $summary | plainify | htmlUnescape }}</div>
        <div class="readmore"><a href='{{ .RelPermalink }}'>{{ i18n "readMore" . }} »</a></div>
        {{ end }}

        <hr/>
    </section>
    {{ end }} {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <span class="prev">
                  <a href="{{.Paginator.Prev.URL}}">
                      <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
        </a>
        </span>
        {{ end }} {{ if $paginator.HasNext }}
        <span class="next">
                  <a href="{{.Paginator.Next.URL}}">
                      {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
        </a>
        </span>
        {{ end }}
    </div>
    {{ end }}

    <section id="tags">
        <!-- .Data is not accessible inside section folder. I have to include taxonomies in config file. Then, I can retrieve it. -->
        <span class="tag">
            {{ range $tag, $pages := .Site.Taxonomies.tags }}
            <a href="tags/{{ $tag | urlize }}">{{ $tag | upper }}<span>({{ $pages.Count }})</span></a> {{ end }}
        </span>
    </section>
</div>
<section id="archive">
    {{ range $key, $value := .Site.RegularPages.GroupBy "Section" }} {{ if eq .Key "posts" }} {{/* Do something with $value.Pages */}}
    <div class="group">
        <h3 class="key">
            Posts
        </h3>

        {{ range .Pages }}
        <div class="value">
            <div class="date">
                <time datetime="{{ .PublishDate }}">{{ i18n "publishDateShort" . }}</time>
            </div>
            <div class="title">
                <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a> {{ with .Params.tags }}
                <div class="tags">
                    {{ range . }}
                    <a href="{{ " tags/ " | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
                </div>
                {{ end}}
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }} {{ end }}
</section>

<section id="archive">
    {{ range $key, $value := .Site.RegularPages.GroupByDate "2006" }} {{/* Date 0001: invalid date (may come from another section other than posts), invalid key */}} {{ if ne .Key "0001" }}
    <div class="group">
        <h3 class="key">
            {{ .Key }} ({{ len .Pages }})
        </h3>

        {{ range .Pages }}
        <div class="value">
            <div class="date">
                <time datetime="{{ .PublishDate }}">{{ i18n "publishDateShort" . }}</time>
            </div>
            <div class="title">
                <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a> {{ with .Params.tags }}
                <div class="tags">
                    {{ range . }}
                    <a href="{{ " tags/ " | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
                </div>
                {{ end}}
            </div>
        </div>
        {{ end }}
    </div>

    {{ end }}{{ end }}
</section>

{{ end }}