        <!-- Single blog post (sblg -c). Title is the header h1 (page_heading). -->
        <article class="post">
            <header class="post-header">
                <time datetime="${sblg-date}" class="post-date">${sblg-date}</time>
                <div class="post-tags">@@tags_label@@ ${sblg-tags}</div>
            </header>
            <div class="post-content">
                <article data-sblg-article="1"></article>
            </div>
            <footer class="post-footer">
                <a class="back-to-blog" href="/@@lang@@/@@slug.blog@@/">@@back_to_blog@@</a>
            </footer>
        </article>
