{{ define "main" }}
{{ $filterYear := .Params.Get "year" }}
<div id="list-page">
    <h1 class="title">Blog
        <br>
        <span class="subtitle"></span>
    </h1>
    <ul class="tags"></ul>
    
    {{ $pages := (where .Site.RegularPages "Type" "blog") }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
    <section class="item">
        <div>
            <h3 style="margin-bottom: 0px;"><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h3>
            <div class="date">
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
            </div>
        </div>
        
        {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
        <p>{{ .Summary | plainify | htmlUnescape }}</p>
        <p class="textright"><a href='{{ .RelPermalink }}'>{{ i18n "readMore" . }} »</a></p>
        {{ end }}
        
        <hr/>
    </section>
    {{ end }}
    
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <span class="prev">
            <a href="{{ $paginator.Prev.URL }}">
                <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
            </a>
        </span>
        {{ end }}
        
        {{ if $paginator.HasNext }}
        <span class="next">
            <a href="{{ $paginator.Next.URL }}">
                {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
            </a>
        </span>
        {{ end }}
    </div>
    {{ end }}

    <section id="tags">
        <span class="tag">
            {{ range $tag, $pages := .Site.Taxonomies.tags }}
            <a href="{{ "tags" | relURL }}/{{ $tag | urlize }}">{{ $tag | upper }}<span>({{ $pages.Count }})</span></a>
            {{ end }}
        </span>
    </section>
</div>

<section id="archive">
    {{ range $key, $value := .Site.RegularPages.GroupByDate "2006" }}
    <div class="group">
        <h3 class="key">
            {{ .Key }} ({{ len .Pages }})
        </h3>

        {{ range .Pages }}
        {{ if eq .Type "blog" }}
        <div class="value">
            <div class="date">
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
            </div>
            <div class="title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ with .Params.tags }}
                <div class="tags">
                    {{ range . }}
                    <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}