{{ define "main" }}
<div id="list-page">
    <h3 class="h1 title dinitial">Education</h3>
    <hr class="nmpt" /> {{ range ( sort (where .Site.RegularPages "Type" "education" ) "Params.eduStartDate" "desc" ) }}
    <section class="item">
        <div>
            <h3 class="title exp">
                <a href='{{ .Params.institutionUrl }}'>{{ .Params.institution }}</a>
            </h3>
            <div class="date exp">
                <time datetime="{{ .Params.eduStartDate }}">{{ (time .Params.eduStartDate).Format "Jan, 2006" }}</time>
                <span>-</span> {{ if .Params.eduEndDate }}
                <time datetime="{{ .Params.eduEndDate }}">{{ (time .Params.eduEndDate).Format "Jan, 2006" }}</time> {{ else }}
                <span>{{ i18n "present" . }}</span> {{ end }}
            </div>
            {{ if .Params.subtitle }}
            <h3 class="title exp">{{ .Params.subtitle }}</h3>
            {{ end }} {{ .Content }}
        </div>
        <hr />
    </section>
    {{ end }}
</div>
{{ end }}