{{ define "main" }} {{ partial "profile.html" . }}
<div id="list-page">
    <h1>Experience</h1>
    <hr class="nmpt" /> {{ range ( sort (where .Site.RegularPages "Type" "experience" ) "Params.expStartDate" "desc" ) }}
    <section class="item">
        <div>
            <h2 class="title exp">
                {{ if eq .Params.companyUrlInAbbr true }}
                <a href='{{ .Params.companyUrl }}'>{{ .Params.companyAbbr }}</a> {{ end }}
            </h2>
            <div class="date exp">
                <time datetime="{{ .Params.expStartDate }}">{{ (time .Params.expStartDate).Format "Jan, 2006" }}</time>
                <span>-</span> {{ if .Params.expEndDate }}
                <time datetime="{{ .Params.expEndDate }}">{{ (time .Params.expEndDate).Format "Jan, 2006" }}</time> {{ else }}
                <span>{{ i18n "present" . }}</span> {{ end }}
            </div>
            <h3 class="title exp">{{ .Params.company }}</h3>
            {{ .Content }}
        </div>
        <hr />
    </section>
    {{ end }}
</div>
{{ end }}