{{ define "main" }}
<div id="list-page">
    <div class="maintitle">
        <h1 class="maintitle dinitial">Experience</h1>
    </div>
    <hr /> 
    <section>
        {{ range ( sort (where .Site.RegularPages "Type" "experience" ) "Params.expStartDate" "desc" ) }}
        <article class="item">
            <div>
                <h3 class="title exp">
                    <a class="title" href='{{ .Params.companyUrl }}'>{{ .Params.company }}</a>
                </h3>
                <div class="date exp">
                    <time datetime="{{ .Params.expStartDate }}">{{ (time .Params.expStartDate).Format "Jan, 2006" }}</time>
                    <span>-</span> {{ if .Params.expEndDate }}
                    <time datetime="{{ .Params.expEndDate }}">{{ (time .Params.expEndDate).Format "Jan, 2006" }}</time>{{ else }}
                    <span>{{ i18n "present" . }}</span>{{ end }}
                    <span>&nbsp;&middot;&nbsp;<a href='{{ .Params.companyUrl }}'>Website</a></span>
                </div>
                {{ .Content }}
            </div>
        </article>
        {{ end }}
    </section>
</div>
{{ end }}