{{ define "main" }} {{ partial "profile.html" . }}

<div id="list-page">
    <h1>Projects</h1>
    <hr class="nmpt" /> {{ range ( where .Site.RegularPages "Type" "projects" ) }}
    <section class="item">
        <div>
            <h1 class="title exp">
                {{ .Params.projTitle }}
            </h1>
            <div class="date exp">
                <time datetime="{{ .Params.projDate }}">20182019{{ i18n "expDate" . }}</time>
            </div>
            {{ .Content }} {{ if .Params.projFooter }}
            <p><a href="{{ .Params.projUrlFooter }}">{{ .Params.projFooter }}</a></p>
            {{ else }}
            <p><a href="{{ .Params.projUrlFooter }}">{{ .Params.projUrlFooter }}</a></p>
            {{ end }}
        </div>
        <hr />
    </section>
    {{ end }}
</div>
{{ end }}