{{ define "main" }}
<div class="mtitlec">
    <div class="mhwidth mxauto">
        <h1 class="mtitle twhite dinitial">Projects</h1>
    </div>
</div>
<div id="list-page">
    <section class="project">
        <div class="container">
            {{/* TODO: order by project types: web, linux, etc. */}}
            <div class="row">
            {{ $pages := where .Site.RegularPages "Type" "projects" }}
            {{ range $index, $page := sort $pages ".File.BaseFileName" "asc" }}
                <div class="col" style="margin-left: auto; margin-right: auto;">
                    <div class="ccol" style="border: 1px solid #DFDFDF; height: 100%;">
                        {{ if .Params.img }}
                            <p>
                                {{ if .Params.imglink }}
                                    <a href="{{ .Params.imglink }}"><img class="responsive-img" src="{{ .Params.img | relURL }}" alt="{{ .Params.imgalt }}" loading="lazy"/></a>
                                {{ else }}
                                    {{ if .Params.curl }}
                                        <a href="{{ .Params.curl }}"><img class="responsive-img" src="{{ .Params.img | relURL }}" alt="{{ .Params.imgalt }}" loading="lazy"/></a>
                                    {{ else }}
                                        <img class="responsive-img" src="{{ .Params.img | relURL }}" alt="{{ .Params.imgalt }}" loading="lazy"/>
                                    {{ end }}
                                {{ end }}
                            </p>
                        {{ end }}
                        <div class="content" style="padding: 0.5rem;">
                            <h3 class="title exp">
                                {{ if .Params.curl }}
                                    <a class="title" href="{{ .Params.curl }}">{{ .Params.title }}</a>
                                {{ else }}
                                    {{ .Params.title }}
                                {{ end }}
                            </h3>
                            {{ .Content }} 
                            {{ if .Params.curl }}<p><a href="{{ .Params.curl }}">{{ if .Params.curltitle }}{{ .Params.curltitle }}{{ else }}{{ .Params.curl }}{{ end }}</a></p>{{ end }}
                        </div>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </section>
</div>
{{ end }}